Repository zesty-io/fetch-wrapper, pull requests merged in 2022-08, with the labels that each got.

#26 Team functions update
  dist/index.js
  package.json
  src/FetchWrapper.test.ts
  src/FetchWrapper.ts
  src/types/index.ts
Labels: main, test

#27 Team Invite update
  dist/index.js
  src/FetchWrapper.ts
  src/types/index.ts
Labels: main

#30 CreateWebhook function update
  dist/index.js
  src/FetchWrapper.ts
  src/types/index.ts
Labels: main

#32 feat(two factor auth): adding functionality for two factor auth
  dist/index.js
  src/FetchWrapper.test.ts
  src/FetchWrapper.ts
Labels: test

#31 Fix Update of User Roles
  .dockerignore
  .github/labeler.yml
  Dockerfile
  README.md
  dist/index.js
  package-lock.json
  package.json
  src/FetchWrapper.ts
  webpack.config.js
Labels: workflow, repo, source

#35 feat(add forgot-password function): adding forgot password functionality
  dist/index.js
  src/FetchWrapper.ts
  src/types/index.ts
Labels: source
